@font-face {
  font-family: h1;
  src: url(../assets/fonts/PicNic-Regular.woff);
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2px;
}

h1 {
  font-family: h1;
  font-size: 10vw
}

ul li {
  list-style-type: none;
  margin-left: -38px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 0;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 2px;
  align-self: center;
}

a {
  color: hotpink;
}

.layout {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid:
    "sidebar body" 1fr
    / auto 1fr;
  gap: 8px;
}

.sidebar { 
  grid-area: sidebar;
  border-right: 1px solid #000;
  height: 100vh;
  width: 5vw;
  background-color: #ffeb2f;
  position: fixed;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.nav-items {
  position: relative;

  display: flex;
  width: 100%;
  height: 60px;
  padding-left: -30px;
  float: right;
  align-items: center;
  align-self: auto;
  transform: rotate(-90deg);
  
}

.liam {
  font-family: h1;
  color: #000000;
  width:fit-content;
  align-self: center;
  font-size: 2vw;
  white-space: nowrap;
}

.main { 
  grid-area: body;
  width: 90vw;
  height: 100vh;
  gap: 8px;
  margin-left: 5vw;
  position: center
}

.container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.container-items {
  border-bottom: solid 1px black;
  max-width: 90vw;
}

.projects-container {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  gap: 8px;
}

.projects {
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: black solid 1px;
  width: 100%;

  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.project-item {
  width: 32%;
  height: fit-content;
  border: hotpink solid 1px;
  border-radius: 15px;
  padding: 2px;
  flex-grow: 1;
}

// .project-description {
//   border: hotpink solid 1px;
//   border-radius: 15px;
//   padding: 2px;
// }

// .project-details {
//   border: hotpink solid 1px;
//   border-radius: 15px;
//   padding: 2px;
// }